{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Playing Game...</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Kaushan+Script|Orbitron" rel="stylesheet">
    <style>
      #game{
        background-image: url("{% static "images/usaMap.jpg" %}");
      }
    </style>
    <link rel="stylesheet" href="{% static "play.css" %}">
  </head>
  <body>
    <center>

    <header>
      <p id="msg">You have 4 armies for this turn</p>
    </header>

    <div id="game">
      <span class="army" style="margin-top: 100px; margin-left: -60px; background-color:red" id="0">0</span>
      <span class="army" style="margin-top: 100px; margin-left: -190px; background-color:red" id="1">1</span>
      <span class="army" style="margin-top: 150px; margin-left: -300px; background-color:red" id="2">2</span>
      <span class="army" style="margin-top: 50px; margin-left: -360px; background-color:red" id="3">3</span>
      <span class="army" style="margin-top: 140px; margin-left: -380px; background-color:red" id="4">4</span>
      <span class="army" style="margin-top: 188px; margin-left: -415px; background-color:red" id="5">5</span>
      <span class="army" style="margin-top: 210px; margin-left: -340px; background-color:red" id="6">6</span>
      <span class="army" style="margin-top: 250px; margin-left: -260px; background-color:red" id="7">7</span>
      <span class="army" style="margin-top: 270px; margin-left: -160px; background-color:red" id="8">8</span>
      <span class="army" style="margin-top: 360px; margin-left: -180px; background-color:red" id="9">9</span>
      <span class="army" style="margin-top: 360px; margin-left: -280px; background-color:red" id="10">10</span>
      <span class="army" style="margin-top: 440px; margin-left: -70px; background-color:red" id="11">11</span>
      <span class="army" style="margin-top: 360px; margin-left: -30px; background-color:red" id="12">12</span>
      <span class="army" style="margin-top: 365px; margin-left: 60px; background-color:red" id="13">13</span>
      <span class="army" style="margin-top: 290px; margin-left: 60px; background-color:red" id="14">14</span>
      <span class="army" style="margin-top: 210px; margin-left: 40px; background-color:red" id="15">15</span>
      <span class="army" style="margin-top: 120px; margin-left: 25px; background-color:red" id="16">16</span>
      <span class="army" style="margin-top: 150px; margin-left: 90px; background-color:red" id="17">17</span>
      <span class="army" style="margin-top: 240px; margin-left: 110px; background-color:red" id="18">18</span>
      <span class="army" style="margin-top: 240px; margin-left: 160px; background-color:red" id="19">19</span>
      <span class="army" style="margin-top: 240px; margin-left: 210px; background-color:red" id="20">20</span>
      <span class="army" style="margin-top: 170px; margin-left: 170px; background-color:red" id="21">21</span>
      <span class="army" style="margin-top: 440px; margin-left: 65px; background-color:red" id="22">22</span>
      <span class="army" style="margin-top: 305px; margin-left: 185px; background-color:red" id="23">23</span>
      <span class="army" style="margin-top: 345px; margin-left: 160px; background-color:red" id="24">24</span>
      <span class="army" style="margin-top: 335px; margin-left: 275px; background-color:red" id="25">25</span>
      <span class="army" style="margin-top: 290px; margin-left: 295px; background-color:red" id="26">26</span>
      <span class="army" style="margin-top: 215px; margin-left: 295px; background-color:red" id="27">27</span>
      <span class="army" style="margin-top: 160px; margin-left: 325px; background-color:red" id="28">28</span>
      <span class="army" style="margin-top: 130px; margin-left: 358px; background-color:red" id="29">29</span>
      <span class="army" style="margin-top: 135px; margin-left: 379px; background-color:red" id="30">30</span>
      <span class="army" style="margin-top: 90px; margin-left: 400px; background-color:red" id="31">31</span>
      <span class="army" style="margin-top: 160px; margin-left: 379px; background-color:red" id="32">32</span>
      <span class="army" style="margin-top: 270px; margin-left: 255px; background-color:red" id="33">33</span>
      <span class="army" style="margin-top: 400px; margin-left: 165px; background-color:red" id="34">34</span>
      <span class="army" style="margin-top: 400px; margin-left: 115px; background-color:red" id="35">35</span>
      <span class="army" style="margin-top: 400px; margin-left: 225px; background-color:red" id="36">36</span>
      <span class="army" style="margin-top: 370px; margin-left: 265px; background-color:red" id="37">37</span>
      <span class="army" style="margin-top: 490px; margin-left: 270px; background-color:red" id="38">38</span>
      <span class="army" style="margin-top: 170px; margin-left: -190px; background-color:red" id="39">39</span>
      <span class="army" style="margin-top: 230px; margin-left: -60px; background-color:red" id="40">40</span>
      <span class="army" style="margin-top: 160px; margin-left: -60px; background-color:red" id="41">41</span>
      <span class="army" style="margin-top: 290px; margin-left: -50px; background-color:red" id="42">42</span>


    </div>

    </center>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "play.js" %}"></script>
  </body>
</html>
